# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env*
*.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/
*.egg
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# FastAPI/Starlette
instance/
*.db

# Pipenv
Pipfile.lock

# Others
*.sqlite3